aiohttp==3.7.4
contractions>=0.0.48
tensorflow==2.7.2
bert_for_tf2==0.14.9
transformers>=4.5.1
nltk>=3.4.5
validators>=0.18.2
numpy==1.19.5
textblob>=0.15.3
pandas>=0.25.1
requests>=2.21.0
newspaper3k>=0.2.8
streamlit>=0.80.0
Flask>=1.0.2
beautifulsoup4>=4.9.3
bert==2.2.0
gdown>=3.12.1
gsutil>=4.61
asyncio
keras
gsutil 
gdown>=3.12.1
vt-py
simpletransformers>=0.61.4
