numpy>=1.20.2
nltk>=3.5
textblob>=0.15.3
streamlit>=0.79.0
spacy>=3.0.5
tensorflow>=2.2.0
keras>=2.4.3
pandas>=1.0.5
beautifulsoup4>=4.9.3
contractions>=0.0.48
scikit_learn>=0.24.1
requests>=2.24.0
newspaper3k>=0.2.8
validators>=0.18.2
gdown>=3.12.1
bert-for-tf2>=0.14.9
transformers>=4.5.1